{% extends 'shop/base.html' %}

{% block main_area %}
                {% if user.is_authenticated%}
                    {% if user.is_superuser or user.is_staff %}
                        <a class="btn btn-info btn-sm float-right" href="/shop/create_menu/" role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;New Menu</a>
                    {% endif %}
                {% endif %}

                <h1>
                    Shop
                    {% if search_info %}<small class="text-muted">{{ search_info }}</small>{% endif %}
                    {% if category %}<span class="badge badge-secondary">{{ category }}</span>{% endif %}
                </h1>

                {% for m in menu_list %}
                <!-- Shop Menu -->
                <div class="card mb-4" id="menu-{{ m.pk }}">
                    {% if m.head_image %}
                        <img class="card-img-top" src="{{ m.head_image.url }}" alt="{{ m }} head image">
                    {% else %}
                        <img class="card-img-top" src="https://picsum.photos/seed/{{ m.id }}/800/200" alt="random_image">
                    {% endif %}
                    <div class="card-body">
                        {% if m.category %}
                            <span class="badge badge-secondary float-right">{{ m.category }}</span>
                        {% else %}
                            <span class="badge badge-secondary float-right">미분류</span>
                        {% endif %}

                        <h2 class="card-title">{{ m.title }}</h2>
                        {% if p.hook_text %}
                            <h5 class="text-muted">{{ m.hook_text }}</h5>
                        {% endif %}
                        <p class="card-text">{{ m.get_content_markdown | truncatewords_html:45 | safe }}</p>
                        <a href="{{ m.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{ m.created_at}} by
                        <a href="#">{{ m.author | upper }}</a>
                    </div>
                </div>
                {% endfor %}

                {% if is_paginated %}
                    <!-- Pagination -->
                    <ul class="pagination justify-content-center mb-4">
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">&larr; Older</a>
                            </li>
                        {% endif %}

                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Newer &rarr;</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}

{% endblock %}